# things to ignore

.ipynb_checkpoints/
models/

# datasets
resources/memmap_dataset_stimulus/
resources/memmap_dataset_stimulus_vis/
spectrogram/memmap_dataset_stimulus/
spectrogram/memmap_dataset_stimulus_vis/
